<% const d = new Date()
let year = d.getFullYear() %>
<footer>
    <a href="/inv/trigger-error" class="error-test-link">Trigger Error (Test)</a>
    <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
</footer>
