.inventory-management-links-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

.inventory-management-links-container h2 {
  font-size: clamp(18px, calc(18px + 1vw), 30px);
}

.add-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.add-container a {
  background-color: rgba(40, 12, 66, .2);
  padding: 0.75rem 1rem;
  color: black;
  text-decoration: none;
}
