<% if (title) { %>
  <h1 class="center-title"><%= title %></h1>
<% } else {
  res.redirect('/')
} %>


<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
  <%  }) %>
  </ul>
<% } %>

<div class="form-container">
  <form action="/inv/add-classification" method="POST" class="classification-form">
    <div class="input-container">
      <label for="classification_name">
        Classification name:
      </label>
      <input type="text" id="classification_name"
      pattern="^[a-zA-Z0-9]+$"
      name="classification_name" required />
      <span>Classifications cannot contain a space or special character</span>
    </div>
    <button type="submit" class="submit-btn">Add Classification</button>
  </form>
</div>
